<div>
<div class="row">
    <header id="gist-header" class="col-xs-12">
        User Logged : <%= login %>
    </header>
</div>
<div class="row">
    <div id="gist-library" class="col-xs-12">
        <div class="row">
            <nav id="gist-navigation" class="col-xs-3">
                <h1>Navigation</h1>
            </nav>
            <div id="gist-view-container" class="col-xs-9">
                <div class="row">
                    <div id="gist-view-list" class="col-xs-4">
                        <h1>List</h1>
                    </div>
                    <div id="gist-view-content" class="col-xs-8">
                        <h1>Content</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>